*{
    padding: 0;
    margin: 0;
}

.section_1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.section_1 p{
    margin-top: 5px;
    /* margin-bottom: 5px; */
    color: grey;
}
.section-2{
    margin-left: 325px;
}
.section-2_card-1{
    width: 200px;
    border: 3px black solid;
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    align-items: center;
    
}
.section-2_card-img{
    width: 100%;
}
.section-2_card-1 h3{
    font-size: 14px;
}
.section-2_btn{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}
.section-3{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}
.section-3 table{
    margin-left: 580px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.section-3 input{
    width: 200px;
    margin-bottom: 2px;
}
.section-3_btn{
    background-color: yellow;
    color: black;
    width: 600px;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
}